*{
    font-family: Georgia;
    text-align: center;

}
.baner,.stopka{
    background-color: #4BA3C7;
    color:white;
    height: 80px;
    font-size: 120%;
}
.lewy,.prawy{
    background-color: #EFEFEF;
    height: 400px;
    width: 25%;
}
.srodkowy{
    background-color: #90CAF9;
    height: 400px;
    width:50%;
}
table{
    margin-left: 10px;
    width: 90%;
    border: 1px solid #90CAF9;
}
td{
    padding: 5px;
    border: 1px solid #90CAF9;
}
tr:hover{
    color:#90CAF9;
}
input[type="number"]{
    margin-top: 15px;
    margin-bottom: 15px;
}
.stopka{
    clear: both;
}
.lewy{
    float: left;
}
.prawy{
    float: left;
}
.srodkowy{
    float:left;
}